    
doctype html
html(lang="en-GB")
  head
    title apcry | An API f;;or ggeneRaating rcyyin gt;exxt
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    link(rel="apple-touch-icon", sizes="180x180", href=require('./assets/favicon/apple-touch-icon.png'))
    link(rel="icon", type="image/png", sizes="32x32", href=require('./assets/favicon/favicon-32x32.png'))
    link(rel="icon", type="image/png", sizes="16x16", href=require('./assets/favicon/favicon-16x16.png'))
    //- link(rel="manifest", href=require('./assets/favicon/site.webmanifest'))
    link(rel="mask-icon", href=require('./assets/favicon/safari-pinned-tab.svg'), color="#2a2b2c")
    meta(name="msapplication-TileColor", content="#2a2b2c")
    meta(name="theme-color", content="#2a2b2c")
    script(src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous")

  body
    #wrapper
      section
        .container
          include components/intro.pug
          include components/generator.pug

          hr

        section
          .container
            h1 Crytype API
            
            p Use our free, open API and let users crytype-ify text in your app.
            p <em>Why, you ask?</em> Why the hell not. Make a Discord bot or something. Pop off.

          .card-list
            .container
              .row
                .col-4
                  .info-card
                    .info-card-emoji 💨
                    p.info-card-label Simple HTTP interface
                    span give us your text and receive some tears

                .col-4
                  .info-card
                    .info-card-emoji 🔑
                    p.info-card-label No API key required
                    span get started straight away

                .col-4
                  .info-card
                    .info-card-emoji 💸
                    p.info-card-label Free to use
                    span just a simple thanks in your readme/source would be chill

          .container
            include components/api/requests.pug
            include components/api/responses.pug
