    
doctype html
html(lang="en-GB")
  head
    title apcry | An API f;;or ggeneRaating rcyyin gt;exxt
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i&display=swap" rel="stylesheet")
    link(rel="apple-touch-icon", sizes="180x180", href=require('./assets/favicon/apple-touch-icon.png'))
    link(rel="icon", type="image/png", sizes="32x32", href=require('./assets/favicon/favicon-32x32.png'))
    link(rel="icon", type="image/png", sizes="16x16", href=require('./assets/favicon/favicon-16x16.png'))
    link(rel="manifest", href=require('./assets/favicon/site.webmanifest'))
    link(rel="mask-icon", href=require('./assets/favicon/safari-pinned-tab.svg'), color="#2a2b2c")
    meta(name="msapplication-TileColor", content="#2a2b2c")
    meta(name="theme-color", content="#2a2b2c")

    meta(name="title" content="apcry | An API f;;or ggeneRaating rcyyin gt;exxt")
    meta(name="description" content="APCry is a cry-typing generator and open API for creating maximum tears on the fly.")
    meta(name="keywords" content="crytype, crytyping, crytext, crytyper, cry-type, cry-typing, cry-text, cry-typer, generator, API")
    meta(name="robots" content="index, follow")
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="language" content="English")

  body
    #wrapper
      include components/top.pug

      section
        .container
          include components/intro.pug

      section
        .container
          include components/generator.pug

      section
        .container
          h1#api Crytype API
          
          p Use our free, open API and let users crytype-ify text in your app.
          p <em>"But why?"</em>, you ask? Why the hell not. Make a Discord bot or something. Pop off.

        .card-list
          .container
            .row
              .col-md-4
                .info-card
                  .info-card-emoji 💨
                  p.info-card-label Simple HTTP interface
                  span give us your text and receive some tears

              .col-md-4
                .info-card
                  .info-card-emoji 🔑
                  p.info-card-label No API key required
                  span get started straight away

              .col-md-4
                .info-card
                  .info-card-emoji 💸
                  p.info-card-label Free to use
                  span just a simple thanks in your readme/source would be chill

        .container
          include components/api/requests.pug
          include components/api/responses.pug
